{% extends "base.html" %}
{% load static %}

{% block titlepage %} collection {% endblock %}

 {% block csspage %}
 <link rel='stylesheet' href="{% static 'author/index.css' %}"/>
 {% endblock  %}

{% block content %}
    <section id="welcome">
        <h1> Inttroduction </h1>
        <p> IBC brings a revolutionary change in book club meetings with a virtual set up to connect and greet people around the country and books. 

            So, if you are looking for a book club to join but are too lazy or shy to go out, join a virtual connecting space. The book club is open for all kinds of book lovers, young, old, avid readers, or first-timers.</p>
     <ul>
        {% for book_in in book_collection %}
        {% include "author/includes/post.html" %}
        {% endfor %}
     </ul>

     

    </section>
{% endblock %}
